<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="automation_code_feb_7th_2023.Costco" />
			<class name="automation_code_feb_7th_2023.Amazon" />
			<class name="automation_code_feb_7th_2023.Rediff" />
			<class name="automation_code_feb_7th_2023.Flipkart" />
			<class name="automation_code_feb_7th_2023.Walmart" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
